.resizefield {
    display: "flex";
    align-items: "center";
    justify-content: "center";
    border: "solid 1px #ddd";
    background: "#000000";  
}
.resizable {
    min-width: 57px !important;
}